/*====================================================================
  GLOBAL STYLES
=====================================================================*/

.img, #img {
  width: 120px;
  height: 120px;
  border-radius: 60%;
  object-fit: cover;
}




/*====================================================================
  Mobile Styles
=====================================================================*/

/*------------- HOME PAGE ----------------*/





/*------------- SHOW PAGE ----------------*/





/*------------- EDIT PAGE ----------------*/





/*------------- NEW PAGE ----------------*/





/*====================================================================
  Tablet Styles
=====================================================================*/








/*====================================================================
  Desktop Styles
=====================================================================*/
