/*====================================================================
  GLOBAL STYLES
=====================================================================*/

:root {
  --gray: #58555A;
  --teal: #025373;
  --aquamarine: #025E73;
  --skyblue: #69B7BF;
  --olive: #BFB169;
  --peach: #F2695C;
}

.container {
  width: 80%;
  max-width: 1200px;
}

body {
  font-family: 'jost';
  font-size: 16px;
  color: var(--gray);
  height: 100vh;
}

img {
  width: 250px;
  height: 250px;
  border-radius: 60%;
  object-fit: cover;
}

/*====================================================================
  PARTIALS
=====================================================================*/

/* Header */

header {
  text-align: center;
  margin-bottom: 50px;
}

#header-line {
  width: 100%;
  height: 3px;
  background: var(--olive);
  margin-bottom: 20px;
  margin-top: -130px;
}

nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  font-size: 1.3em;
}

#upper-nav {
  margin-bottom: -140px;
  margin-top: 40px;
}

header p {
  width: auto;
  font-weight: lighter;
}

#log-out {
  border: none;
  width: 100%;
  font-family: 'jost';
  font-size: .6em;
  font-weight: 300;
  transition: 1s;
}

#log-out:hover {
  font-weight: 500;
  color: var(--peach);
}

header a {
  text-decoration: none;
  font-size: 1em;
  color: var(--gray);
  transition: .2s;
}

header a:hover {
  color: var(--skyblue);
}


/*====================================================================
  Mobile Styles
=====================================================================*/

/*------------- LANDING PAGE ----------------*/

#landing-main {
  text-align: center;
}

#buttons {
  margin-top: 50px;
}

#landing-btn {
  margin: 15px 40px;
  padding: 15px;
  border: 1px solid var(--skyblue);
  border-radius: 10px;
  font-size: 1.4em;
  text-decoration: none;
  min-width: 200px;
  color: var(--gray);
  transition: .3s;
}

#landing-btn:hover {
  color: var(--olive);
}

/*------------- HOME / CLASS PAGE ----------------*/

.index-main {
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
  margin: 20px auto;
}

ul {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 30px;
}

#student-img {
  border: 5px solid var(--olive);
  transition: .6s;
}

#student-img:hover {
  border: 5px solid var(--peach);
}

.student-div {
  text-decoration: none;
  margin: 30px;
  font-size: 1.8em;
  display: flex;
  justify-content: center;
  color: var(--aquamarine);
  transition: .6s;
  width: 80%;
}

.student-div:hover {
  color: var(--peach);
}

h3 {
  font-size: 1.5em;
  text-align: center;
}

/*------------- SHOW PAGE ----------------*/

.show-main {
  margin: 40px auto;
}

#hero-area {
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.student-photo {
  width: 300px;
  height: 300px;
  border-radius: 60%;
  object-fit: cover;
}

h1 {
  width: 100%;
}

.hidden {
  display: none;
}

.visible {
  /* background-color: pink; */
}

#view-details, #view-portfolio, #edit-details, #edit-portfolio {
  width: 75%;
  margin: 10px 15px;
  box-sizing: border-box;
  text-align: center;
  font-size: 1em;
}

#edit-portfolio, #edit-details, #view-portfolio, #view-details {
  text-decoration: none;
  padding: 5px 20px;
  border: 1px solid gray;
  border-radius: 10px;
}

/*------------- EDIT PAGE ----------------*/

#back {
  text-decoration: none;
  color: var(--olive);
  padding: 3px 10px;;
  border: 2px solid var(--teal);
  border-radius: 10px;
  margin: 10px auto;
  transition: .3s;
}

#back:hover {
  color: var(--skyblue);
}

form {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

h5 {
  width: 100%;
}

input {
  width: 70%;
}

input[name="notes"] {
  height: 150px;
  width: 70%;
}

/*------------- NEW PAGE ----------------*/





/*====================================================================
  Tablet Styles
=====================================================================*/

@media only screen and (min-width: 768px) {

/*------------- !!TABLET!! PARTIALS ----------------*/

  #header-line {
    margin-top: -130px;
  }

  /*------------- !!TABLET!! HOME PAGE ----------------*/

  ul {
    justify-content: space-around;
  }

  .student-div {
    width: 40%;
  }

  /*------------- !!TABLET!! SHOW PAGE ----------------*/

  #view-details, #view-portfolio, #edit-details, #edit-portfolio {
    width: 45%;
  }

  /*------------- !!TABLET!! EDIT PAGE ----------------*/


  /*------------- !!TABLET!! NEW PAGE ----------------*/

}


/*====================================================================
  Desktop Styles
=====================================================================*/

@media only screen and (min-width: 1200px) {

  /*------------- !!TABLET!! PARTIALS ----------------*/


  /*------------- !!TABLET!! HOME PAGE ----------------*/

  .student-div {
    width: 12%;

  }

  #student-img {
    width: 200px;
    height: 200px;
  }

  h3 {
    font-size: 1.2em;
  }

  /*------------- !!TABLET!! SHOW PAGE ----------------*/

  #view-details, #view-portfolio, #edit-details, #edit-portfolio {
    width: 20%;
  }

  /*------------- !!TABLET!! EDIT PAGE ----------------*/


  /*------------- !!TABLET!! NEW PAGE ----------------*/

}
