<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include ('../partials/head.ejs') %>
  <body>

    <div class="container">
      <header>
        <a href="#"><img src="/img/cc-logo.png" /></a>
        <div id="header-line"></div>
        <nav>
          <a href="/user/new" class="anchor-btn">Create Account</a>
          <a href='/sessions/login' class="anchor-btn">Log In</a>
        </nav>
      </header>
      <h1>Welcome to the Classroom Confidant!</h1>
      <p>Log in or create an account to view your class.</p>
      <a href="/sessions/login">Log In</a>
      <a href="/user/new">Create Account</a>
    </div>

  </body>
</html>
