<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include ('../partials/head.ejs') %>
  <body>

    <div class="container">
      <header>
        <a href="#"><img src="/img/cc-logo.png" /></a>
        <div id="header-line"></div>
        <nav>
          <a href="/user/new" class="anchor-btn">Create Account</a>
          <a href='/sessions/login' class="anchor-btn">Log In</a>
        </nav>
      </header>

      <main id="landing-main">
        <h1>Welcome to the Classroom Confidant!</h1>
        <p>Log in or create an account to view your class.</p>
        <div id="buttons">
          <a href="/sessions/login" id="landing-btn">Log In</a>
          <a href="/user/new" id="landing-btn">Create Account</a>
        </div>
      </main>
    </div>

  </body>
</html>
