<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include ('../partials/head.ejs') %>
  <body>

    <div class="container">
      <%- include ('../partials/header.ejs') %>
      <h1>Enroll New Student</h1>
      <form action="/class" method="POST">
        <h5>Name:</h5>
          <input type="text" name="name" placeholder="Name" />
        <h5>Photo:</h5>
          <input type="text" name="img" placeholder="Image Link">
        <h5>Date of Birth:</h5>
          <input type="date" name="dob" placeholder="Date of birth" />
        <h5>Address:</h5>
          <input type="text" name="address" placeholder="Address">
        <h5>Caregivers:</h5>
          <input type="text" name="parents" placeholder="Parent/Caregiver Names" />
        <h5>Allergies:</h5>
          <input type="text" name="allergies" placeholder="Allergies">
        <h5>Enrollment Status:</h5>
          <input type="text" name="enrollment" placeholder="Full Day / Half Day" />
        <h5>Notes:</h5>
          <input type="textarea" name="notes" placeholder="Notes...">
        <input type="submit" value="Enroll Student">
      </form>
    </div>

  </body>
</html>
