<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include ('../partials/head.ejs') %>
  <body>

    <div class="container">
      <header>
        <a href="#"><img src="/img/cc-logo.png" /></a>
        <div id="header-line"></div>
        <nav>
          <a href="/" class="anchor-btn">Back</a>
          <a href='/user/new' class="anchor-btn">Create Account</a>
        </nav>
      </header>
      <h1>Log In Page</h1>
    </div>

  </body>
</html>
