<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include ('../partials/head.ejs') %>
  <body>

    <div class="container">
      <header>
        <a href="#"><img src="/img/cc-logo.png" /></a>
        <div id="header-line"></div>
        <nav>
          <a href="/" class="anchor-btn">Back</a>
          <a href='/sessions/login' class="anchor-btn">Log In</a>
        </nav>
      </header>
      <h1>Create an Account</h1>
      <p>Are you a teacher, or a caregiver?</p>
      <button id="teacher">Teacher</button>
      <button id="caregiver">Caregiver</button>

      <form id="create-teacher" action="/user" method="post">
        <h5>Username:</h5>
          <input type="text" name="username" placeholder="username" />
        <h5>Password:</h5>
          <input type="text" name="password" placeholder="password" />
        <%# This form is for TEACHERS, and sets the user Schema to parent: false, teacher: true %>
        <input type="hidden" name="parent" value="false" />
        <input type="hidden" name="teacher" value="true" />
        <input type="submit" value="Create Account">
      </form>

      <form id="create-parent" action="/user" method="post">
        <h5>Username:</h5>
          <input type="text" name="username" placeholder="username" />
        <h5>Password:</h5>
          <input type="text" name="password" placeholder="password" />
        <%# This form is for PARENTS, and sets the user Schema to parent: true, teacher: false %>
        <input type="hidden" name="parent" value="true" />
        <input type="hidden" name="teacher" value="false" />
        <input type="submit" value="Create Account" />
      </form>

    </div>

  </body>
</html>
