<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include ('../partials/head.ejs') %>
  <body>

    <div class="container">
      <%- include ('../partials/header.ejs') %>
      <h1>Create <%=student.name%>'s Portfolio</h1>
      <form action="/portfolio" method="POST">
        <section>
          <h4>Cognitive</h4>
          <input type="text" name="cognitive.img" placeholder="Image Link">
          <input type="text" name="cognitive.quote" placeholder="Quote">
          <input type="textarea" name="cognitive.description" placeholder="Description">
        </section>
        <input type="submit" value="Submit Edits">
      </form>
    </div>

  </body>
</html>
